body {
    font-family: 'Poppins', 'sans-serif';
}

header {
    display: flex;
}

/* Header image should be full width (auto height) */
header img {
    width: 100%;
}

.nav_links {
    display: flex;
}

.pricing {
    display: flex;
}

.gallery {
    padding-bottom: 20px;
}