body {
    font-family: 'Poppins', 'sans-serif';
}

header {
    display: flex;
    /* Navigation links should be centered and stacked */
    flex-wrap: wrap;
    justify-content: center;
}

/* Header image should be full width (auto height) */
header img {
    width: 100%;
}

.nav_links {
    display: flex;
    /* Navigation links should be centered and stacked */
    flex-direction: column;
}

.pricing {
    display: flex;
}

.gallery {
    padding-bottom: 20px;
}