body {
    font-family: 'Poppins', 'sans-serif';
}

header {
    display: flex;
    /* Navigation links should be centered and stacked */
    flex-wrap: wrap;
    justify-content: center;
}

/* Header image should be full width (auto height) */
header img {
    width: 100%;
}

.nav_links {
    display: flex;
    /* Navigation links should be centered and stacked */
    flex-direction: column;
}

.pricing {
    display: flex;
    /* Cards should be stacked */
    flex-wrap: wrap;
}

/* Cards should be full width */
.card {
    width: 100%;
}

.gallery {
    display: flex;
    /* Images should be stacked */
    flex-wrap: wrap;
}

/* Images should be full width */
.gallery img {
    width: 100%;
}

/* Desktop View */
@media (min-width: 700px) {

    header {
        /* Header image is to left, navigation is to right */
        justify-content: space-between;
    }

    header img {
        /* Header image should be 400px width (auto height) */
        width: 400px;
    }

    .nav_links {
        /* Navigation links are lined up */
        flex-direction: row;
    }

    .pricing {
        /* Cards should be lined up */
        flex-shrink: 0;
        justify-content: center;
    }

    .card {
        /* Cards should be 300px wide */
        width: 300px;
    }

    .gallery {
        /* Images should be lined up */
        flex-shrink: 0;
        justify-content: center;
    }
    
    .gallery img {
        /* Images should be 300px wide */
        width: 300px;
    }
}